.selected {
  border: 2px solid hotpink;
  border-radius: 4px;
  margin: auto;
  width: 12em;
  text-align: center;
}

mat-button-toggle {
  display: flex;
  flex-basis: content;
}

.button-content {
  text-align: center;
  justify-content: center;
}



