.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  grid-column: 1 / 4;
}

.warning {
  border: 2px solid rgb(235, 85, 16);
  box-shadow: 0.3px;
}

.btn {
  width:7em;
  height:3em;
  font-family: Arial, Helvetica, sans-serif;
  grid-row: 3;
  grid-column: 2;
  place-self: center;
}

label {
  place-self: center;
}

input {
  justify-self: center;
}

.subject-list {
  height: 8em;
  max-height: 10em;
  width: auto;
  overflow-y: scroll;
  border: 2px solid rgba(255, 105, 180, 0.473);
}

button:disabled {
  background-color: rgba(131, 163, 143, 0.753);
  color: rgba(124, 11, 11, 0.568);
}
.btn-primary {
  background-color: rgba(11, 175, 74, 0.623);
  color: rgba(0, 0, 0, 0.486);
  font-weight:bold;
  border-radius: 2.5px;
  box-shadow: 0px;
  border: none;
}

.student-selected-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:70%;
  min-width:70%
}

.form-grid {
  display: grid;
  grid-template-rows: 3em 3em 3em;
  grid-template-columns: 1fr 1fr 1fr 10px 10px;
  grid-gap: 3px;
}




